section{
    padding: 100px 0;
}
.carousel-control-prev-icon{
    background-image: url(https://cdn-icons-png.flaticon.com/512/860/860790.png);
    
}
.carousel-control-next-icon{
    background-image: url(https://cdn-icons-png.flaticon.com/512/892/892528.png);
}
.carousel-control-next, .carousel-control-prev{
    width: 20px;
}
.carousel-control-next{
    right: -10px;
}
.carousel-control-prev{
    left: -25px;
}